doctype html
html(lang='en')
  head

    // Basic Page Needs
    // ==================================================
    meta(charset='utf-8')
    title Birch Hill Landscaping
    meta(name='description' content='')
    meta(name='author' content='')

    // Mobile Specific Metas
    // ==================================================
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='format-detection' content='telephone=no')

    // CSS
    // ==================================================
    link(type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300')
    link(type='text/css' rel='stylesheet' href='../css/main.css')

    // Scripts
    // ==================================================
    script(src='../javascripts/vendor/jquery-1.11.1.min.js')
    script(src="../javascripts/vendor/unslider.min.js")
    script(src='../javascripts/main.min.js')

    // Favicons
    // ==================================================
    //- link(rel='shortcut icon' href='images/favicon.ico')
