mixin footer
  #Footer
    .container
      .row.center
        ul
          li Birch Hill Landscaping
          li 38 Chatham Road
          li Short Hills, New Jersey 07078
          li P: 973-376-0538
          li F: 973-376-2239
          li E:&nbsp;
            a(href="mailto:info@birchhillinc.com") info@birchhillinc.com
          li.social-media
            a(href="https://www.facebook.com/BirchHillLandscaping" target="_blank")
              img(alt="" src="images/facebook@2x.png" width="35px" height="35px")
            a(href="https://twitter.com/birchhillinc" target="_blank")
              img(alt="" src="images/twitter@2x.png" width="35px" height="35px")

