mixin footer
  #Footer.container
    .wrapper
      .row
        .column.oneThird.top-down
          p
            strong For assistance contact
          p
            strong K. Hovnanian<sup>&reg;</sup> American Mortgage, LLC&#0153;
          p.phone
            img(src='../images/global/telephone.png')
            strong (800) 232-0351
          a.button(href='../contact/contact.html') Contact Us
        .column.oneThird
          h2 Our Service
          ul
            li
              a(href='../prequalify-now/prequalify-step1.html') Prequalify now
            li
              a(href='https://www.velocitypayment.com/vbills/lookup/kpay' target='_blank') Pay your mortgage
        .column.oneThird
          h2 Our Company
          ul
            li
              a(href='') Why Choose Us
            li
              a(href='') Investor relations
            li
              a(href='') Careers
            li
              a(href='http://www.khovmortgage.com/') K.Hovnanian.com
            li
              a(href='') Contact Us
      .bottomSection
        .row.center
          .socialMedia
            ul
              li
                h2 Follow Us!
              li
                a(href='https://www.facebook.com/khovnanianhomes?v=info' target='_blank')
                  img(src='../images/global/facebook.png')
              li
                a(href='http://www.pinterest.com/khovnanianhomes/' target='_blank')
                  img(src='../images/global/pinterest.png')
              li
                a(href='https://twitter.com/khov' target='_blank')
                  img(src='../images/global/twitter.png')
              li
                a(href='https://www.youtube.com/watch?v=arKZsGIU8k0' target='_blank')
                  img(src='../images/global/youtube.png')
        .row.center
          p
            a(href='') Privacy Policy |&nbsp;
            a(href='') Terms &amp; Conditions |&nbsp;
            a(href='') State Licensing Information
          p 2014 &copy; K. Hovnanian<sup>&reg;</sup> Companies, LLC., All Rights Reserved
