mixin navigation
  #Navigation
    .bodyOverlay
    .row
      .container
        #Logo.column.oneThird
          a(href="index.html")
            img(src="../images/logo.png" style="width:150px; height:75px")
        #MoibleMenu
          .centerline
        #Nav.column.twoThirds
          ul
            li.mobileItem
              a(href="index.html") Home
            li
              a(href="about.html") About
            li
              a(href="#") Gallery
            li
              a(href="#") Services
            li
              a(href="#") Contact Us
