mixin navigation
  #Navigation.container
    .row
      #Logo.column
        a(href='../index/index.html')
          img(src='../images/global/logo.png')
      #Nav.column
        .shadow
        ul
          li.mobileItem
            a(href='../index/index.html') Home
          li
            a(href='../consider-buying/why-buy-now.html') Consider Buying
          li
            a(href='../loan-process/step-by-step.html') Our Loan Process
          li
            a(href='../tools-help/tools-help.html') Tools &amp; Help
          li
            a(href='../prequalify-now/prequalify-step1.html') Prequalify Now
          li
            a(href='../after-closing/after-closing.html') After Closing
