mixin navigation
  #Navigation.container
    .row
      #Logo.column
        a(href='../index/index.html')
          img(src='../images/global/logo.png')
      #Nav.column
        .shadow
        ul
          li.mobileItem
            a(href='../index/index.html') Home
          li
            a(href='../consider-buying/why-buy-now.html') About
          li
            a(href='../loan-process/step-by-step.html') Gallery
          li
            a(href='../tools-help/tools-help.html') Services
          li
            a(href='../prequalify-now/prequalify-step1.html') Contact Us
