mixin navMain
  #Navigation.container
    .wrapperLarge
      .row
        #Logo.column
          .logo
            a(href='../index/index.html')
              img(src='../images/global/logo.png')
        #Nav.column
          .row.navSecondary
            .mobileMenu
            .logo
              a(href='../index/index.html')
                img(src='../images/global/logo.png')
            ul
              li
                a(href='../contact/contact.html') Contact an Account Manager
              li
                a(href='https://www.velocitypayment.com/vbills/lookup/kpay' target='_blank') Pay Your Mortgage
          .row.navMain
            .shadow
            ul.navMainTop
              li.mobileItem
                a(href='../index/index.html') Home
              li
                a(href='../consider-buying/why-buy-now.html') Consider Buying
              li
                a(href='../loan-process/step-by-step.html') Our Loan Process
              li
                a(href='../tools-help/tools-help.html') Tools &amp; Help
              li
                a(href='../prequalify-now/prequalify-step1.html') Prequalify Now
              li
                a(href='../after-closing/after-closing.html') After Closing

            ul.navMainBottom
              li
                a(href='../contact/contact.html') Contact an Account Manager
              li
                a(href='https://www.velocitypayment.com/vbills/lookup/kpay' target='_blank') Pay Mortgage
              li
                a(href='../prequalify-now/prequalify-step1.html') Prequalify Now
              li
                a(href='#') About us
              li
                a(href='#') Careers
