#Footer
  background-color: $green

  .row
    padding: 0

  ul
    margin-bottom: 0

  li
    border-right: 2px solid $tan
    display: inline
    padding: 0 25px
    margin-bottom: 0
    color: $tan
    text-decoration: none
    font-family: $openSans
    font-weight: $light
    font-size: 14px
    line-height: 80px
    letter-spacing: 0.05em

    &:last-child
      border-right: none
