textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]
  +box-sizing(border-box)
  border: $brown 1px solid
  display: block
  font-family: $openSans
  font-weight: $normal
  font-size: 16px
  height: 50px
  line-height: 20px
  padding: 0 10px
  width: 100%
  text-transform: uppercase
  +appearance (none)

textarea
  padding: 10px
  height: auto
  line-height: 24px
  text-transform: none
  font-weight: $normal

select
  &:after
    content: ""
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-top: 10px solid #86bcc2
    position: absolute
    float: right
    top: 20px
    right: 20px
    pointer-events: none

#D3cpWidget
  width: 80%
  margin: 0 auto
  font-weight: $normal
  font-size: 16px
  line-height: 28px
  margin-bottom: 15px

  @media #{$below-480}
    width: 100%
    font-size: 14px
    line-height: 24px
    margin-bottom: 10px

.d3cp_des
  text-align: center

.d3cp_form_title
  color: $green
  text-transform: uppercase
  font-weight: $bold
  font-size: 16px
  line-height: 28px
  margin: 30px 0 10px 0
  width: 100%

.d3cp_input_outer
  width: 32%
  margin: 0 1% 0 0
  float: left

  @media #{$below-768}
    width: 100%
    margin: 0 0 10px 0
    text-align: left

.d3cp_form_row
  display: block

  &:after
    margin: 0
    content: ""
    display: table
    clear: both

.d3cp_form_exp
  display: block
  line-height: 18px
  font-size: 14px
  font-style: italic
  margin-top: 15px

.d3cp_form_exp.d3cp_marked
  color: red

.d3cp_button_submit
  background: url(//www.demandforce.com/widget/css/images/d3cp_button_submit_mid.png) no-repeat scroll 0 0 transparent
