#Navigation
  background-color: $green

  #Nav
    margin-top: 30px
    float: right

    li
      display: inline
      padding: 0 25px

    a
      color: $tan
      text-decoration: none
      font-family: $openSans
      font-weight: $light
      font-size: 14px
      line-height: 16px
      letter-spacing: 0.05em
      text-transform: uppercase
