#Secondary

  .aSpot, .sss, .imageCover
    height: 400px

    @media #{$below-1024}
      height: 350px

    @media #{$below-768}
      height: 250px

.demandforceForm
  text-align: center

#Gallery

  #EnlargedImage
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $tan no-repeat center center
    background-size: cover
    display: none
    z-index: 9999

  .thumb
    float: left
    width: 23%
    height: 200px
    margin: 1%
    overflow: hidden
    cursor: pointer
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    transition: all ease .5s

    @media #{$below-1024}
      width: 31%

    @media #{$below-768}
      height: 225px
      width: 48%

    @media #{$below-480}
      height: 250px
      width: 100%
      margin: 0 0 20px 0
      text-align: center

    &:hover
      opacity: .5

  .galleryControls
    position: absolute
    right: 0
    top: 50%
    margin-top: -125px
    height: 250px
    direction: rtl

    div
      direction: ltr
      text-align: center
      line-height: 50px
      font-size: 11px
      text-transform: uppercase
      width: 50px
      height: 50px
      background: $white
      color: #000
      border-bottom: 1px solid #ccc

    .galleryNext, .galleryPrev, .galleryClose
      cursor: pointer

    .galleryNext
      background-image: url(http://www.dahea.net/codepen/180/img/gallery_next.jpg)

    .galleryPrev
      background-image: url(http://www.dahea.net/codepen/180/img/gallery_prev.jpg)

    .galleryClose
      background-image: url(http://www.dahea.net/codepen/180/img/gallery_close.jpg)
