include ../templates/document-head
include ../templates/navigation
include ../templates/slider
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #About
        +slider
        .section.bgTan
          .container
            .row
              h3 <strong>Birch Hill Landscaping</strong>, established in 1985 as a professional design and installation firm. Barry Greenberg, a licensed Landscape Architect, is your design contact; and Vincent Novellino, a Certified Landscape Technician, is your construction coordinator. This ensures quality design and installation. The final touches to a project can be added with help from Becky Greenberg who specializes in outdoor furniture and accessories.
              h3 Our business is based around one simple belief: The customer is entitled to creative designs, quality execution, and attention paid to every detail.
              h3 If you are looking for a leader in landscape architectural design and installation services, you have found it.
        .section.bgBrown
          .container
            .row
              h2.center Who we are
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Barry Greenberg
                p A licensed Landscape Architect, with over 30 years of experience helping homeowners’ realize their properties potential.  Barry graduated from S.U.N.Y. College of Environmental Science and Forestry in Syracuse, NY, in 1981.  After years of working for nurseries, arborists and landscape construction companies, both before, during and after college, he began his own company in 1985 with the help of his wife, also a landscape architecture graduate. Barry has won numerous awards for his projects, was president of the Springfield Garden Club, has lectured to numerous clubs and was featured in a documentary about the vegetative regeneration of an abandoned quarry. Let his passion for landscape design work magic on your property.
                p
                  a(href="mailto:barry@birchhillinc.com") <strong>barry@birchhillinc.com</strong>
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Becky Greenberg
                p With a degree in landscape architecture and 17 years  experience as  the owner of The Garden Path, a retail garden accessory store, located in Millburn, she  can help  clients  put the finishing touches on any Birch Hill project.  From furnishing to decorating with accessories Birch Hill Landscaping can take your project all the way.
                p
                  a(href="mailto:becky@birchhillinc.com") <strong>becky@birchhillinc.com</strong>
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Vincent Novellino
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p
                  a(href="mailto:vincent@birchhillinc.com") <strong>vincent@birchhillinc.com</strong>
      +footer
