include ../templates/document-head
include ../templates/navigation
include ../templates/footer

body#Secondary
  .wrapper
    +navigation
    #Contact
      .aSpot.slider
        .imageCover.image1
        .imageCover.image2
        .imageCover.image3
      .section.bgTan
        .container
          .row
            .column.oneHalf
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .column.oneHalf
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .section.bgBrown
        .container
          .row
            h1.center About
          .row
            .column.oneFourth
              .center
                img(src="../images/headshot.png")
            .column.threeFourths
              h3 Barry Greenberg
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .row
            .column.oneFourth
              .center
                img(src="../images/headshot.png")
            .column.threeFourths
              h3 Barry Greenberg
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .row
            .column.oneFourth
              .center
                img(src="../images/headshot.png")
            .column.threeFourths
              h3 Barry Greenberg
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +footer
