include ../templates/document-head
include ../templates/navigation
include ../templates/slider
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #Contact
        +slider
        .section.bgTan
          .container
            .row
              h2.center See something you like?
              hr
              h3 <strong>Birch Hill Landscaping</strong>, established in 1985 as a professional design and installation firm. Barry Greenberg, a licensed Landscape Architect, is your design contact; and Vincent Novellino, a Certified Landscape Technician, is your construction coordinator. This ensures quality design and installation. The final touches to a project can be added with help from Becky Greenberg who specializes in outdoor furniture and accessories.
              h3 Our business is based around one simple belief: The customer is entitled to creative designs, quality execution, and attention paid to every detail.
              h3 If you are looking for a leader in landscape architectural design and installation services, you have found it.
      +footer
