include ../templates/document-head
include ../templates/navigation
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #Contact
        .aSpot.slider
          .imageCover.image1
          .imageCover.image2
          .imageCover.image3
        .section.bgTan
          .container
            .row
              h2.center See something you like? We’re always looking for new partners across the healthcare, consumer, luxury and financial verticals. Whether you know what you want or have an idea of what you might need, our team of strategists, designers and engineers can you help you find your solution.
      +footer
