include ../templates/document-head
include ../templates/navigation
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #Gallery
        .section.bgTan
          .container
            .row
              #EnlargedImage
                .galleryControls
                  .galleryNext
                  .galleryPrev
                  .galleryCounter
                  .galleryClose
              .thumb(data-largeimg="../images/work/portfolio/work_01")
                img(src="../images/work/portfolio/work_01_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_02")
                img(src="../images/work/portfolio/work_02_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_03")
                img(src="../images/work/portfolio/work_03_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_04")
                img(src="../images/work/portfolio/work_04_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_05")
                img(src="../images/work/portfolio/work_05_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_06")
                img(src="../images/work/portfolio/work_06_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_07")
                img(src="../images/work/portfolio/work_07_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_08")
                img(src="../images/work/portfolio/work_08_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_09")
                img(src="../images/work/portfolio/work_09_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_10")
                img(src="../images/work/portfolio/work_10_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_11")
                img(src="../images/work/portfolio/work_11_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_12")
                img(src="../images/work/portfolio/work_12_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_13")
                img(src="../images/work/portfolio/work_13_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_14")
                img(src="../images/work/portfolio/work_14_480x300.png")
              .thumb(data-largeimg="../images/work/portfolio/work_15")
                img(src="../images/work/portfolio/work_15_480x300.png")
      +footer
