include ../templates/document-head
include ../templates/navigation
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #Gallery
        .aSpot.slider
          .imageCover.image1
          .imageCover.image2
          .imageCover.image3
        .section.bgTan
          .container
            .row
              #EnlargedImage
                .galleryControls
                  .galleryNext
                  .galleryPrev
                  .galleryCounter
                  .galleryClose
              .thumb(data-largeimg="http://lorempixel.com/800/600/nature")
                img(alt="" src="http://lorempixel.com/800/600/nature")
              .thumb(data-largeimg="http://lorempixel.com/800/600/city")
                img(alt="" src="http://lorempixel.com/800/600/city")
              .thumb(data-largeimg="http://lorempixel.com/800/600/food")
                img(alt="" src="http://lorempixel.com/800/600/food")
              .thumb(data-largeimg="http://lorempixel.com/800/600/business")
                img(alt="" src="http://lorempixel.com/800/600/business")
              .thumb(data-largeimg="http://lorempixel.com/800/600/cats")
                img(alt="" src="http://lorempixel.com/800/600/cats")
              .thumb(data-largeimg="http://lorempixel.com/800/600/nightlife")
                img(alt="" src="http://lorempixel.com/800/600/nightlife")
              .thumb(data-largeimg="http://lorempixel.com/800/600/sports")
                img(alt=""  src="http://lorempixel.com/800/600/sports")
              .thumb(data-largeimg="http://lorempixel.com/800/600/fashion")
                img(alt="" src="http://lorempixel.com/800/600/fashion")
      +footer
