include ../templates/document-head
include ../templates/navigation
include ../templates/footer

body#Secondary
  .wrapper
    +navigation
    #Gallery
      .section.bgTan
        .container
          .row
            #EnlargedImage
              .galleryControls
                .galleryNext
                .galleryPrev
                .galleryCounter
                .galleryClose
            .thumb(data-largeimg="http://lorempixel.com/800/600/nature")
              img(src="http://lorempixel.com/800/600/nature")
            .thumb(data-largeimg="http://lorempixel.com/800/600/city")
              img(src="http://lorempixel.com/800/600/city")
            .thumb(data-largeimg="http://lorempixel.com/800/600/food")
              img(src="http://lorempixel.com/800/600/food")
            .thumb(data-largeimg="http://lorempixel.com/800/600/business")
              img(src="http://lorempixel.com/800/600/business")
            .thumb(data-largeimg="http://lorempixel.com/800/600/cats")
              img(src="http://lorempixel.com/800/600/cats")
            .thumb(data-largeimg="http://lorempixel.com/800/600/nightlife")
              img(src="http://lorempixel.com/800/600/nightlife")
            .thumb(data-largeimg="http://lorempixel.com/800/600/sports")
              img( src="http://lorempixel.com/800/600/sports")
            .thumb(data-largeimg="http://lorempixel.com/800/600/fashion")
              img(src="http://lorempixel.com/800/600/fashion")
    +footer
