include ../templates/document-head
include ../templates/navigation
include ../templates/footer

body
  .wrapper
  +navigation
  #Index.body
    .banner

      ul
          li This is a slide.
          li This is another slide.
          li This is a final slide.

    .aSpot
    .row.bgTan
      .container
         .column.oneThird
          img(src= "../images/testimonialPerson1.png")
        .column.twoThirds
          h2.quote Lorem ipsum dolor sit amet, consectet adipiscing elit. In porttitor neque eu elit. Sed consequat ex eu finibus viverra.
    .row.bgBrown
      .container
        .row
          h1.center Featured Work
        .row
          .column.oneFourth
            img.thumb(src="../images/featured-work/work1.jpg")
          .column.oneFourth
            img.thumb(src="../images/featured-work/work1.jpg")
          .column.oneFourth
            img.thumb(src="../images/featured-work/work1.jpg")
          .column.oneFourth
            img.thumb(src="../images/featured-work/work1.jpg")
  +footer
