include ../templates/document-head
include ../templates/navigation
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body
    .wrapper
      +navigation
      #Index
        .aSpot.slider
          .imageCover.image1
          .imageCover.image2
          .imageCover.image3
        .section.bgTan
          .container
            .row
              h1.center Testimonial
            .row#Testimonial
              .column.quote
                img.right(alt="" src="../images/quoteStart.png")
              .column.quoteText
                h2 Lorem ipsum dolor sit amet, consectet adipiscing elit. In porttitor neque eu elit. Sed consequat ex eu finibus viverra.
              .column.quote
                img(alt="" src="../images/quoteEnd.png")
        .section.bgBrown
          .container
            .row
              h1.center Featured Work
            .row
              .column.oneFourth
                img.thumb(alt="" src="../images/featured-work/work1.jpg")
              .column.oneFourth
                img.thumb(alt="" src="../images/featured-work/work1.jpg")
              .column.oneFourth
                img.thumb(alt="" src="../images/featured-work/work1.jpg")
              .column.oneFourth
                img.thumb(alt="" src="../images/featured-work/work1.jpg")
      +footer
