include ../templates/document-head
include ../templates/navigation
include ../templates/slider
include ../templates/footer

doctype html
html(lang='en')

  +document-head
  body#Secondary
    .wrapper
      +navigation
      #Services
        +slider
        .section.bgTan
          .container
            .row
              .column.oneHalf
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .column.oneHalf
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat turpis ut nunc mattis laoreet. Cras venenatis sapien arcu, vel pellentesque mi tempus ut. Fusce mattis libero libero. Etiam viverra, orci at pellentesque imperdiet, ex odio blandit justo, in hendrerit lacus lacus vel velit. Phasellus iaculis efficitur porttitor. Curabitur congue urna eget nibh iaculis consequat. Proin purus mi, convallis non dapibus eu, tincidunt et nisi. Nulla magna dui, viverra non ligula nec, tristique tempor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fringilla justo vel sollicitudin interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .section.bgBrown
          .container
            .row
              h1.center What we do
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Landscape Design and Consulting Residential Landscape Design
                .row
                  .column.oneHalf
                    ul
                      li Site Design Plans
                      li Construction Plans
                  .column.oneHalf
                    ul
                      li Permits and Variances
                      li Grading Plans
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Barry Greenberg
                .row
                  .column.oneHalf
                    ul
                      li Site Design Plans
                      li Construction Plans
                      li Grading Plans
                  .column.oneHalf
                    ul
                      li Planting Plans
                      li Permits and Variances
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Barry Greenberg
                .row
                  .column.oneHalf
                    ul
                      li Site Design Plans
                      li Construction Plans
                      li Grading Plans
                  .column.oneHalf
                    ul
                      li Planting Plans
                      li Permits and Variances
            .row
              .column.oneFourth
                .center
                  img(alt="" src="../images/headshot.png")
              .column.threeFourths
                h4 Barry Greenberg
                .row
                  .column.oneHalf
                    ul
                      li Site Design Plans
                      li Construction Plans
                      li Grading Plans
                  .column.oneHalf
                    ul
                      li Planting Plans
                      li Permits and Varianc
      +footer
