include ../templates/document-head


doctype html
html(lang='en')

  //- +document-head
  link(type="text/css" rel="stylesheet" href="https://www.demandforced3.com/b/1/css/website.css")
  body#Secondary
  .wrapper
   #StyleSheet.body
    .row.demandforced
      .container
        script(type="text/javascript")
          d3cp_bid = '108001979';
          d3cp_link_addreview = 'your_page_url'; //Optional. See Instructions.
          d3cp_link_scheduler = 'your_page_url'; //Optional. See Instructions.
        script(src="https://www.demandforced3.com/b/birchhilllandscaping/scheduler.widget" type="text/javascript")
    .row
      .container
        h1 h1 - Birch Hill Landscaping
        h2 h2 - Birch Hill Landscaping
        h3 h3 - Birch Hill Landscaping
        h4 h4 - Birch Hill Landscaping
        p p - Birch Hill Landscaping
        ul
          li li - Birch Hill Landscaping
          li li - Birch Hill Landscaping
          li li - Birch Hill Landscaping
        p
          a a - Birch Hill Landscaping
        p
          a.button button - Birch Hill Landscaping
