include templates/document-head
include templates/navigation
include templates/slider
include templates/footer

doctype html
html(lang='en')

  +document-head("")
  body#Secondary
    .wrapper
      +navigation("")
      #About
        +slider
        .section.bgTan
          .container
            .row
              h3 <strong>Birch Hill Landscaping</strong>, established in 1985 as a professional design and installation firm. Barry Greenberg, a licensed Landscape Architect, is your design contact; and Vincent Novellino, a Certified Landscape Technician, is your construction coordinator. This ensures quality design and installation. The final touches to a project can be added with help from Becky Greenberg who specializes in outdoor furniture and accessories.
              h3 Our business is based around one simple belief: The customer is entitled to creative designs, quality execution, and attention paid to every detail.
              h3 If you are looking for a leader in landscape architectural design and installation services, you have found it.
        .section.bgBrown
          .container
            .row
              h2.center Who we are
            .row
              .column.oneFourth
                .center
                  img(alt="" src="images/headshot-barry@2x.png" width="175px" height="175px")
              .column.threeFourths
                h4 Barry Greenberg
                p A licensed Landscape Architect, with over 30 years of experience helping homeowners’ realize their properties potential.  Barry graduated from S.U.N.Y. College of Environmental Science and Forestry in Syracuse, NY, in 1981.  After years of working for nurseries, arborists and landscape construction companies, both before, during and after college, he began his own company in 1985 with the help of his wife, also a landscape architecture graduate. Barry has won numerous awards for his projects, was president of the Springfield Garden Club, has lectured to numerous clubs and was featured in a documentary about the vegetative regeneration of an abandoned quarry. Let his passion for landscape design work magic on your property.
                p
                  a(href="mailto:info@birchhillinc.com") <strong>info@birchhillinc.com</strong>
            .row
              .column.oneFourth
                .center
                  img(alt="" src="images/headshot-becky@2x.png" width="175px" height="175px")
              .column.threeFourths
                h4 Becky Greenberg
                p With a degree in landscape architecture and 17 years  experience as  the owner of The Garden Path, a retail garden accessory store, located in Millburn, she  can help  clients  put the finishing touches on any Birch Hill project.  From furnishing to decorating with accessories Birch Hill Landscaping can take your project all the way.
                p
                  a(href="mailto:info@birchhillinc.com") <strong>info@birchhillinc.com</strong>
            .row
              .column.oneFourth
                .center
                  img(alt="" src="images/headshot-vincent@2x.png" width="175px" height="175px")
              .column.threeFourths
                h4 Vincent Novellino
                p Vincent graduated from Cook College, Rutgers University's esteemed agricultural school with a degree in Environmental Planning & Design in 1999.  Post graduation he obtained a National Certification as a Landscape Technician.  He is licensed in New Jersey as a fertilizer & pesticide applicator as well as an Irrigation Contractor.  Vincent runs the day to day operations of the company as well as manages all aspects of current projects.
                p
                  a(href="mailto:info@birchhillinc.com") <strong>info@birchhillinc.com</strong>
      +footer
