include templates/document-head
include templates/navigation
include templates/footer

doctype html
html(lang='en')
  +document-head("")
  body#Contact
    .wrapper
      +navigation("")
      #Contact
        .section.bgTan
          .container
            .row
              h2.center Schedule an Appointment
              hr
              h3 After 30 years of creating livable landscapes, we are still excited to forge new relationships with potential clients.  Please contact us to discuss how we can review your property and tailor a design that meets both your desires and your budget.
            .row
               iframe.iframeForm(src="https://docs.google.com/forms/d/e/1FAIpQLSei4BcA3BsUBe9d4ciUHRy5-bff75ORyWxtprtmbyM9_j7mDg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0") Loading...
      +footer
