include templates/document-head
include templates/navigation
include templates/footer

doctype html
html(lang='en')

  +document-head("")
  body#Secondary
    .wrapper
      +navigation("")
      #Gallery
        .section.bgTan
          .container
            .row#Photos
              #EnlargedImage
                .galleryControls
                  .galleryNext
                  .galleryPrev
                  .galleryCounter
                  .galleryClose
      +footer
