include templates/document-head
include templates/navigation
include templates/slider
include templates/footer

doctype html
html(lang='en')

  +document-head("")
  body
    .wrapper
      +navigation("")
      #Index
        +slider
        .section.bgTan
          .container
            .row
              h2.center Testimonial
            .row
              .column.quote
                img.right(alt="" src="images/quoteStart@2x.png" width="30px" height="27px")
              .column.quoteText
                h1 We’re very happy with how things turned out and we can’t wait to see things bloom and start to spread in the spring.
              .column.quote
                img(alt="" src="images/quoteEnd@2x.png" width="30px" height="27px")
        .section.bgBrown
          .container
            .row
              h2.center Featured Work
            .row#FeaturedWork
      +footer
