include ../templates/document-head
include ../templates/navMain
include ../templates/footer

body
  .wrapper
    +navMain
    #Index.container
      .aSpot
      .aSpotText
        .wrapper
          .row
            .content
              h1 Finance Your <br>Dream Home
              h2 K. Hovnanian<sup>&reg;</sup><br> American Mortgage, LLC&#0153;
              p Speed, accuracy, and communication are the keys to making your dream of home ownership a reality for you and your family.  Since K. Hovnanian<sup>&reg;</sup> Homes<sup>&reg;</sup> homebuyers are our exclusive clients, K. Hovnanian<sup>&reg;</sup> American Mortgage, LLC&#0153;  is uniquely positioned to deliver all three of these elements better than any other lender.
              a.button(href='../prequalify-now/prequalify-step1.html')
                h2 Prequalify Now
              h3 PAY YOUR MORTGAGE
      .wrapper
        .row.spacer
          .column.oneThird
              a(href='../consider-buying/why-buy-now.html')
                img(src='../images/index/Callout_RentvsBuy.jpg')
              .content
                a(href='../consider-buying/why-buy-now.html')
                  h4 Why Buy Now
                p Making the decision to buy rather than rent your home is not as simple as comparing your rent payment to your proposed house payment. Use this calculator to understand the financial benefits of home ownership over renting.
                a.button(href='../consider-buying/why-buy-now.html') Use the Calculator
          .column.oneThird
              a(href='../loan-process/step-by-step.html')
                img(src='../images/index/Callout_WhatToExpect.jpg')
              .content
                a(href='../loan-process/step-by-step.html')
                  h4 What to Expect When You Buy
                p The purchase of your home is likely the single largest financial transaction you will complete in your life. This section provides an overview of what you can expect during the loan process.
                a.button(href='../loan-process/step-by-step.html') Find Out More
          .column.oneThird
              a(href='../prequalify-now/prequalify-step1.html')
                img(src='../images/index/Callout_PrequalifyNow.jpg')
              .content
                a(href='../prequalify-now/prequalify-step1.html')
                  h4 Prequalify for a Home Loan
                p Start your no-obligation, FREE Prequalification process now with the information you have at your fingertips. Our quick and easy process will get you on your way to owning your dream home.
                a.button(href='../prequalify-now/prequalify-step1.html') Get Prequalified
    +footer
