include templates/document-head

doctype html
html(lang='en')

  +document-head("")
  link(type="text/css" rel="stylesheet" href="https://www.demandforced3.com/b/1/css/website.css")
  body#Secondary
  .wrapper
   #StyleSheet.body
    .row
      .container
        h1 h1 - Birch Hill Landscaping
        h2 h2 - Birch Hill Landscaping
        h3 h3 - Birch Hill Landscaping
        h4 h4 - Birch Hill Landscaping
        p p - Birch Hill Landscaping
        ul
          li li - Birch Hill Landscaping
          li li - Birch Hill Landscaping
          li li - Birch Hill Landscaping
        p
          a a - Birch Hill Landscaping
        p
          a.button button - Birch Hill Landscaping
